.main {
    margin: auto;
    width: 1024px;
}

.backouts {
    margin: auto;
    width:300px;
    padding: 10px;
}

.omg {
    width:100px;
    margin: auto;
    font-size: 120px;
}

.rightFloaty {
    float: right;
}

.leftFloaty {
  float:left;
}

.wide {
    width: 1000px;
}

.small {
    width: 500px;
}

.yetAnotherContainer {
    margin:auto;
}

.boldy {
    font-weight: bold;
}

.floatingtree {
    position:fixed;
    padding: 5px;
    background: white;
}

#container {
    width:1000px;
    height: 400px;
    margin: 0 auto;
    float: left;
}

.hidden {
  display:none;
}

.show {
  display:block;
}
