.main {
    margin: auto;
    width: 1024px;
}

.backouts {
    margin: auto;
    width:400px;
    padding: 10px;
}

.omg {
    width:100px;
    margin: auto;
    font-size: 150px;
}

.floaty {
    float: left;
}
.wide {
    width: 1000px;
}

.small {
    width: 500px;
}

.yetAnotherContainer {
    margin:auto;
}

.boldy {
    font-weight: bold;
}

#container {
    width:1000px;
    height: 400px;
    margin: 0 auto;
    float: left;
}