<!DOCTYPE html>
<head>
  <title>Futurama Data from different places</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
  <link rel="shortcut icon" href="{{ url_for('.static',filename='favicon.ico') }}" />
</head>
<body>
  <div class='main'>
    <div class='main'>Below are the details for <span class='boldy'>{{ tree }}</span></div>
    <div class='yetAnotherContainer'>
        <div class='backouts rightFloaty'><div class='omg'>{{ backouts['backouts'] }}</div><br> backouts were performed for {{ backouts['total'] }}     pushes since the beginning of {{ backouts['startdate'] }} (roughly the last 7 days). Merges are not counted</div>
        <div class='backouts rightFloaty'><div class='omg'>{{ today['backouts'] }}</div><br> backouts were performed for {{ today['total'] }}     pushes since the beginning of today. Merges are not counted</div>
        <div class='backouts rightFloaty'><div class='omg' id='intermittentsOpenWeek'>...</div><br> Intermittent Bugs Created In the last 7 days</div>
        <div class='backouts leftFloaty'><div class='omg' id='intermittentsClosedWeek'>...</div><br> Intermittent Bugs Closed In the last 7 days</div>
        <div class='backouts leftFloaty'><div id='closedBreakdown' class='hidden'></div></div>
    </div>
    <div class='rightFloaty wide' id="closuresContainer"></div>
    <div class='rightFloaty wide' id="percentageUpTime"></div>
    <iframe class='rightFloaty wide' src="treebackouts.html" width="" height=""></iframe>


    <div class='floatingtree'><a href="/?tree=mozilla-inbound">Mozilla-Inbound</a> | <a href="/?tree=mozilla-central">Mozilla-Central</a> |
         <a href="/?tree=fx-team">FX-Team</a>&nbsp;&nbsp;&nbsp; <div class='rightFloaty'>Tree is currently: <span><a href='https://treestatus.mozilla.org/{{ tree }}'>{{ status['status'] }}</a></span>
         {% if status['status_reason'] %}
         <span>Tree is closed for reason: {{ status['status_reason'] }}</span>
         {% endif %}
         </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
  $(function () {
      $('#closuresContainer').highcharts({
          chart: {
              type: 'area'
          },
          title: {
              text: 'closures'
          },
          xAxis: {
            categories: {{ total["x"]|safe }},
          },
          yAxis: {
            title: {
              text: "Closure in hours",
            },
          },
          series: [
          {% for tot in total["y"] %}
          {% if tot != 'total' %}
          {

              name: "{{ tot }}",
              data: {{ total["y"][tot] }}

          },
          {% endif %}
          {% endfor %}
          ],
          plotOptions: {
            area: {
                stacking: 'normal',
            },
          }
      });

      $('#percentageUpTime').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'Tree Uptime'
          },
          xAxis: {
            categories: {{ total["x"]|safe }},
          },
          yAxis: {
            title: {
              text: "Percentage Uptime",
            },
          },
          series: [
          {
              name: "Uptime (Higher is better)",
              data: {{ uptime }}
          },
          ],
          plotOptions: {
            area: {
                stacking: 'normal',
            },
          }
      });
  });
  </script>
  <script type="text/javascript">
    var oReq = new XMLHttpRequest();
    oReq.onload = function(e) {
      var intermittents = JSON.parse(oReq.response);
      document.getElementById('intermittentsClosedWeek').textContent = intermittents.intermittent_count_closed_last_week;
      document.getElementById('intermittentsOpenWeek').textContent = intermittents.intermittent_count_last_week;
      var closureReason = ""
      for (var reason in intermittents.closed_break_down) {
        closureReason = closureReason + reason + " " + intermittents.closed_break_down[reason] + "<br>"
      }
      document.getElementById('closedBreakdown').innerHTML = closureReason;
    }
    oReq.open("GET",'/intermittents.html', true);
    oReq.send();

    var intermittentsClosedWeek = document.getElementById('intermittentsClosedWeek');
    intermittentsClosedWeek.addEventListener('mouseover', function(){
      var closedBreakdown = document.getElementById('closedBreakdown');
      closedBreakdown.classList.remove('hidden');
      closedBreakdown.classList.add('show');
    });

    intermittentsClosedWeek.addEventListener('mouseout', function () {
      var closedBreakdown = document.getElementById('closedBreakdown');
      closedBreakdown.classList.remove('show');
      closedBreakdown.classList.add('hidden');
    })
  </script>
</body>
