<!DOCTYPE html>
<head>
  <title>Futurama Data from different places</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
</head>
<body>
  <div class='main'>
    <div class='main'>Below are the details for <span class='boldy'>{{ tree }}</span></div>
    <div class='yetAnotherContainer'>
        <div class='backouts floaty'><div class='omg'>{{ backouts['backouts'] }}</div><br> backouts were performed for {{ backouts['total'] }}     pushes since the beginning of {{ backouts['startdate'] }} (roughly the last 7 days). Merges are not counted</div>
        <div class='backouts floaty'><div class='omg'>{{ today['backouts'] }}</div><br> backouts were performed for {{ today['total'] }}     pushes since the beginning of today. Merges are not counted</div>
        <div class='backouts floaty'><div class='omg'>{{ intermittent_count_last_week }}</div><br> Intermittent Bugs Created In the last 7 days</div>
        <div class='backouts floaty'><div class='omg'>{{ intermittent_count_closed_last_week }}</div><br> Intermittent Bugs Closed In the last 7 days</div>
    </div>
    <div class='floaty wide' id="closuresContainer"></div>
    <div class='floaty wide' id="percentageUpTime"></div>
    <div class='floaty wide' id="backoutPerHourContainer"></div>
    <div class='floaty wide' id="landingsPerHourContainer"></div>


    <div class='floatingtree'><a href="/?tree=mozilla-inbound">Mozilla-Inbound</a> | <a href="/?tree=mozilla-central">Mozilla-Central</a> |
         <a href="/?tree=fx-team">FX-Team</a></div>
    <div>Tree is currently: <span><a href='https://treestatus.mozilla.org/{{ tree }}'>{{ status['status'] }}</a></span>
    {% if status['status_reason'] %}
    <span>Tree is closed for reason: {{ status['status_reason'] }}</span>
    {% endif %}
    </div>

  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
  $(function () {
      $('#closuresContainer').highcharts({
          chart: {
              type: 'area'
          },
          title: {
              text: 'closures'
          },
          xAxis: {
            categories: {{ total["x"]|safe }},
          },
          yAxis: {
            title: {
              text: "Closure in hours",
            },
          },
          series: [
          {% for tot in total["y"] %}
          {% if tot != 'total' %}
          {

              name: "{{ tot }}",
              data: {{ total["y"][tot] }}

          },
          {% endif %}
          {% endfor %}
          ],
          plotOptions: {
            area: {
                stacking: 'normal',
            },
          }
      });

      $('#percentageUpTime').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'Tree Uptime'
          },
          xAxis: {
            categories: {{ total["x"]|safe }},
          },
          yAxis: {
            title: {
              text: "Percentage Uptime",
            },
          },
          series: [
          {
              name: "Uptime (Higher is better)",
              data: {{ uptime }}
          },
          ],
          plotOptions: {
            area: {
                stacking: 'normal',
            },
          }
      });

      $('#backoutPerHourContainer').highcharts({
          chart: {
              defaultSeriesType: 'column'
          },
          title: {
              text: 'Backouts and Landings Per Hour for today'
          },
          xAxis: {
            title: {
              text: "Hours (Pacific)",
            },
            categories: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                         16, 17, 18, 19, 20, 21, 22, 23]
          },
          yAxis: {
            title: {
              text: "pushes per hour",
            },
          },
          series: [{
            name: "backouts",
            data: [{% for value in backout_hours %}
                          {{ value}},
                         {% endfor %}],
            color: '#434348'
            },
            {
              name: "pushes",
              data: [{% for value in pushes_hours %}
                            {{ value}},
                           {% endfor %}],
              color: "#7CB5EC"
          }],
          plotOptions: {
          },
          legend: {
            layout: 'horizontal',
            floating: true,
            backgroundColor: '#FFFFFF',
            align: 'right',
            verticalAlign: 'top',
            y: 60,
            x: -60
          },
      });
    $('#landingsPerHourContainer').highcharts({
        chart: {
            defaultSeriesType: 'column'
        },
        title: {
            text: 'Backouts and landings aggregated to the hour for the week'
        },
        xAxis: {
          title: {
            text: "Hours (Pacific)",
          },
          categories: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                       16, 17, 18, 19, 20, 21, 22, 23]
        },
        yAxis: {
          title: {
            text: "pushes per hour",
          },
        },
        series: [{
          name: "Pushes",
          data: [{% for value in backouts["pushesHours"] %}
                        {{ value}},
                       {% endfor %}],
          color: '#7CB5EC'
          },
          {
            name: "Backouts",
            data: [{% for value in backouts["backoutHours"] %}
                          {{ value}},
                         {% endfor %}],
            color: "#434348"
        }],
        plotOptions: {
        },
        legend: {
          layout: 'horizontal',
          floating: true,
          backgroundColor: '#FFFFFF',
          align: 'right',
          verticalAlign: 'top',
          y: 60,
          x: -60
        },
    });
  });
  </script>
</body>
