<!DOCTYPE html>
<head>
  <title>Futurama Data from different places</title>
</head>
<body>

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
  $(function () {
      $('#container').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: 'closures'
          },
          series: [
          {% for tot in total %}
          {
              name: "{{ tot }}",
              data: {{ total[tot] }}
          },
          {% endfor %}
          ]

      });
  });
  </script>
</body>
